<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Angular Meetup Melbourne - Protractor JS</title>
		<meta name="description" content="Angular Meetup Melbourne - Protractor JS">
		<meta name="author" content="Braiden Judd">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<textarea id="source">

		name: inverse
		layout: true
		class: center, middle, inverse

		---

		class: inverse

		# E2E testing of JavaScript with JavaScript
		*Protractor JS*

		---

		class: inverse

		# Braiden Judd
		> Work at Suncorp
		>
		> @pragmaticyclist

		---

		class: inverse

		## What is your experience with protractor?

		http://braiden.firebaseapp.com

		---

		layout: false
		class: center, inverse, middle

		## What do I want you to get out of this?
		
		*If you go and download and try protractor in the next week, I win*

		???

		* If you have already got an experience with protractor, this might confirm something you know
		* If you have a high level of experience, I expect to be called out on things and we can disucss

		---

		class: inverse, middle, center

		# Theory
		*The boring parts of testing*

		---

		layout: false

		## Why are tests good?

		*Tests as documentation*

		* Should be easy to read
		* Can be used to codify user stories
		* DHH Keynote - https://www.youtube.com/watch?v=9LfmrkyP81M
		* Dave Thomas - http://rubyrogues.com/164-rr-staying-sharp-with-dave-thomas/

		???

		* Tests can be used as documentation, easier to read the better
		* Examples of how to use your API or site
		* In the case of E2E testing, in things like protractor. It is good for translating story card requirements into real documented things.
		* DHH Keynote - https://www.youtube.com/watch?v=9LfmrkyP81M
		* Dave Thomas - http://rubyrogues.com/164-rr-staying-sharp-with-dave-thomas/

		---

		layout: false
		class: center

		## What is the best kind of testing?

		![Angular Contributions](img/testingPyramid.png)

		---

		## Unit Testing

		* Does this function work?
		* Fast feedback, run on save
		* Best Defence against bugs
		* Use to test corner or edge cases

		# VS

		## End-to-end testing
		* Do the sum of the pieces make a greater whole?
		* Slow and expensive
		* Is the application usable, by a real user?
		* Is a complement, not a replacement to unit tests
		* Test the happy paths

		---
		class: inverse, center, middle
		layout: false

		# Why would we do E2E testing?

		*Gaining confidence your application works, for a real user*

		???

		* Testing the application as a user, not a computer
		* Backend v Frontend. Do they work together nicely?
		* If unit tests are hard to run it probably means you application is hard to run

		---

		# Why is E2E testing hard?

		* You need an environment, need working parts. Webdriver, Chrome and you App. Then run the tests.
		* Very hard to debug
		* Sloooooooooooooooooooooooooooooooooooooooooooooooow
		* Tests, generally have to be up to date with the layout. Hard to keep up to date.

		---

		# Why is it good to write tests in JavaScript?

		*Context switching*

		![Angular Contributions](img/contextSwitching.png)

		---

		class: inverse, middle, center

		# Protractor JS
		*What is it?*

		---

		## What is Protractor JS?

		![Angular Contributions](img/contributions.png)

		???

		* Written by google to make testing angular JS application easier
		* Introduced 1.2
		* Just went 1.0 ~2 weeks ago

		---

		class: center

		## What makes up Protractor JS 

		*Webdriver + Chrome (a brower) + Protractor JS*

		![Angular Contributions](img/protractorStack.png)

		---

		class: center, middle, inverse


		## Built for Angular JS

		*Protractor understands angular*

		???

		* Protractor understands angular
		* Understands the way angular does binding
		* Angular gives your page structure and templates and dependency injection

		---

		## Angular Scenario Runner - Differences

		* Webdriver and Selenium
		* Different syntax
		* Can run tests against remote servers
		* Can use Sauce Labs
		* More control over the browser and Firefox, Chrome, Safari etc.
		* Same, high level integration with Angular
		* Scenario Runner ran in an iframe

		---

		## Allows you to write tests in Jasmine

		* Use the same notation as your unit tests
		* Patched to understand angular and async (waitForAngular())

		![Alt text](img/jasmineLogo.png)

		---

		## What does it not do well?

		* Not angular parts are still hard
		* Setup and teardown of database data (onPrepare?)
		* Keen to see what others have done here

		---

		class: inverse, middle, center

		## Be wary of old documentation
		*Protractor has changed*

		???

		* Noticed a lot in my research, old ways which no longer work

		---

		class: inverse, middle, center

		# Getting Started
		*Ok, I want it. How do I get setup?*

		---

		class: inverse, middle, center

		## Installation

		```bash
		npm install -g protractor
		```

		---

		class: inverse, middle, center

		## Setup
		*Need java installed*

		```bash
		webdriver-manager update
		webdriver-manager start
		```

		*Congratulations you have a webdriver server up and running*

		???

		* A few moving parts, including chromedriver and selenium

		---

		## Bonus - Protractor with a Proxy

		*webdriver-manager does not work with a proxy*

		* Download the webdriver jar and chromedriver.exe manually
		* Match the versions (DO NOT JUST GET THE LATEST!)
		* Copy to the angular locations
		* Happy Days

		---

		## Configuration File
		*https://github.com/angular/protractor/blob/master/docs/referenceConf.js*

		```javascript
		exports.config = {
			seleniumAddress: 'http://localhost:4444/wd/hub',
			specs: ['*.js'],
		    jasmineNodeOpts: {
		        onComplete: null,
		        isVerbose: true,
		        showColors: true,
		        includeStackTrace: true,
		        defaultTimeoutInterval: 30000
		    }
		}
		```

		---

		## Synchronous Async?

		* All the finders etc are async but jasmine is patched to be synchronous
		* Every command is run in order and waits for the promise to be resolved
		* ```expect``` is patch to wait for the expectation to resolve before checking

		### Some good links explaining what is happening
		* https://github.com/angular/protractor/blob/master/docs/control-flow.md
		* https://github.com/angular/protractor/issues/909

		---

		## Browser Object

		Command | Use | Example |
		------------- |------------- |-------------
		get() | *Gets the page* | ```browser.get('/#/blogs')``` |
		refresh() | *Does a page refresh* | ```browser.refresh()``` |
		debugger() | *Injects some helper methods into the browser* | ```browser.debugger()``` |

		---

		## Selecting elements

		```
		element()
		```
		* element() returns a single thing

		```
		element.all()
		```
		* returns an array - for repeaters etc.

		???

		* At the core is the ability to select elements
		* element() returns a single thing
		* element.all() returns an array - for repeaters etc.

		---

		## Angular specific bindings

		*by.binding*

		```javascript
		element(by.binding('blog.title')).getText();
		```

		```html
		<h4 ng-bind="blog.title"></h4>
		```
		---

		## Angular specific bindings

		*by.model*

		```javascript
		element(by.model('password')).sendKeys('password');
		```

		```html
		<input ... ng-model="password">

		```
		---

		## Angular specific bindings

		*by.repeater*

		```javascript
		element.all(by.repeater('blog in blogs')).get(0).getText();
		```

		```html
		<div ng-repeat="blog in blogs" class="...">
			<a ng-href="#/blogs/{{blog.id}}">
				<img ng-src="{{blog.avatar}}" class="..."/>
				<h4 ng-bind="blog.title"></h4>
			</a>
		</div>
		```
		
		---

		## Angular specific bindings

		*by.id*

		```javascript
		element(by.id('ok')).click();
		```

		```html
		<button ... id="ok">
		```

		---

		## Chaining locators

		```javascript
		var blog = element.all(by.repeater('blog in blogs')).first();
		blog.element(by.tagName('img')).getAttribute('src')
		// value is whatever {{blog.avatar}} resolves to
		// 'http://localhost:3000/img/avatar1.jpg'
		```

		```html
		<div ng-repeat="blog in blogs" class="...">
			<a ng-href="#/blogs/{{blog.id}}">
				<img ng-src="{{blog.avatar}}" class="..."/>
				<h4 ng-bind="blog.title"></h4>
			</a>
		</div>
		```

		---

		## Helper methods on the .all()

		```javascript
		var blogs = element.all(by.repeater('blog in blogs'))
		```

		Command | Use | Example |
		------------- |------------- |-------------
		get() | *Get a particular item* | ```blogs.get(1).getText()``` |
		each() | *Loop through each item* | ```blogs.each(function(blog) { blog.getText() })``` |
		first() | *The first item* | ```blogs.first().getText()``` |
		last() | *The last item* | ```blogs.last().getText()```  |
		count() | *The number of items selected* | ```blogs.count()``` |

		*Some others like map, filter and reduce*

		---

		## User Events

		*How to be a real user*

		Command | Use | Example |
		------------- |------------- |-------------
		click() | *Clicks on a particular item* | ```element(by.id('ok')).click()``` |
		sendKeys() | *Enters text* | ```element(by.model('password')).sendKeys('password')``` |
		protractor.Key.ENTER | *Sends special key events* | ```element(by.model('password')).sendKeys('password', protractor.Key.ENTER)``` |

		---

		## Interactive mode/ Element Explorer

		* Good place to get started
		* Browser is real
		* All commands are async.

		```bash
		/usr/local/lib/node_modules/protractor/bin/elementexplorer.js <URL>
		```

		???

		* Shows browser is real
		* Something that does not exist - show easy to comprehend error message
		* Something that does exist - getText(), click() etc.
		* Show async, console.log does not work

		---

		## Page Objects
		*Encapsulate the information about how to interact with the page from the test logic*

		* Can just require, we are in node
		* http://martinfowler.com/bliki/PageObject.html

		```javascript
		// Setup
		var Homepage = function() {
			this.blogs = element.all(by.repeater('blog in blogs'));

			this.get = function() {
				browser.get('http://localhost:3000');
			};
		};
		module.exports = Homepage;

		// Usage
		var Homepage = require('./homepagePageObject.js');
		```

		---

		class: middle, center, inverse

		# Demo

		https://www.youtube.com/watch?v=mZG1ewSO0X4

		???

		* Site
		* Run the tests
		* Show the tests

		---

		class: inverse, middle, center

		# Extras
		*Others things you should know or understand*

		---

		## Multi browser
		*https://github.com/angular/protractor/blob/master/docs/browser-setup.md*

		```javascript
		exports.config = {
			seleniumAddress: 'http://localhost:4444/wd/hub',

			multiCapabilities: [{
				'browserName' : 'chrome'
			}, {
				'browserName' : 'firefox'
			}]
		};
		```
		---

		## Test Structure

		*Personal preference*

		```bash
		project/
		   |-- public
		   |-- tests
		      |-- unit
		      |-- e2e
		         |-- protractor.conf.js
		         |-- homepage
		            |-- homepagePageObject.js
		            |-- homepageSpec.js
		         |-- blogs
		            |-- blogPageObject.js
		            |-- blogSpec.js

		```

		---

		## Test Suites

		### Config

		```javascript
		suites: {
			homepage: 'tests/e2e/homepage/**/*Spec.js',
			blogs: 'tests/e2e/blogs/**/*Spec.js'
		}

		```

		### Running

		```javascript
		protractor tests/e2e/protractor.conf.js --suite homepage
		```

		---

		## Logging In
		*https://github.com/angular/protractor/blob/master/spec/withLoginConf.js*

		```javascript
		onPrepare: function() {
			browser.driver.get(env.baseUrl + '/login.html');

			browser.driver.findElement(by.id('username')).sendKeys('Jane');
			browser.driver.findElement(by.id('password')).sendKeys('1234');
			browser.driver.findElement(by.id('clickme')).click();

			browser.driver.wait(function() {
				return browser.driver.getCurrentUrl().then(function(url) {
					return /index/.test(url);
				});
			});
		}
		```

		---

		## Disabling animations

		```javascript
		onPrepare: function() {
			// Disable animations so e2e tests run more quickly
			var disableNgAnimate = function() {
				angular.module('disableNgAnimate', []).
				run(function($animate) {
					$animate.enabled(false);
				});
			};

			browser.addMockModule('disableNgAnimate', disableNgAnimate);
		}
		```

		---

 		## Taking Screenshots
		*https://github.com/angular/protractor/blob/master/docs/faq.md*

		```javascript
		browser.takeScreenshot().then(function(png) {
			var stream = fs.createWriteStream("/tmp/screenshot.png");
			stream.write(new Buffer(png, 'base64'));
			stream.end();
		});
		```

		---

		## Testing non angular sites

		*https://github.com/angular/protractor/issues/49*

		```javascript
		beforeEach(function() {
			return browser.ignoreSynchronization = true;
		});
		```

		---

		## Resources

		* Official Repo - https://github.com/angular/protractor
		* Another meetup presentation - http://ramonvictor.github.io/protractor/slides/#/
		* Ng Newsletter Article - http://www.ng-newsletter.com/posts/practical-protractor.html
		* Jim Lavin - https://www.youtube.com/watch?v=idb6hOxlyb8
		* Julie Ralph NG Conf - https://www.youtube.com/watch?v=aQipuiTcn3U
		* JavaScript Jabber - http://javascriptjabber.com/106-jsj-protractor-with-julie-ralph/

		---

		## Picks

		* Dash - Mac Offline Documentation
		* Podcasts - Arrested DevOps, Food Fight Show and Devchat.tv
		* Particle Fever - Awesome documentation about the LHC [http://particlefever.com/]
		* S3 and Backups
		* Mountain Goat - Rare Breed

		![Alt text](img/devchat.svg) ![Alt text](img/s3Logo.png) ![Alt text](img/rareBreed.png)

		---

		## Cyclist
		*Enjoy building and riding bikes*

		![Alt text](img/bike.png)

		---

		## Dogs
		*Go home nature, you're drunk*

		![Alt text](img/dogs.png)

		---

		## Quadcopters
		*Wanting to write an API around the quadcopter, if you are keen to join me let me know*

		![Alt text](img/quad.jpg)

		---

		## Have a go!

		http://www.confreaks.com/videos/2488-railsconf2013-how-to-talk-to-developers

		http://javascriptjabber.com/090-jsj-users-groups/

		http://rubyrogues.com/064-rr-presenting-at-conferences/

		http://rubyrogues.com/167-rr-speaking-at-conferences/

		*"If you can't explain it simply, you don't understand it well enough"* Albert Einstein

		???

		* Speaking - Encourage someone to speak about unit testing	
		* Give it a go, great for personal development

		</textarea>
		<script src="lib/remark/out/remark.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var slideshow = remark.create({ratio: '16:9'});
		</script>
	</body>
</html>
